In [73]:
import pandas as pd

In [74]:
path = 'data/violence_data.csv'
df = pd.read_csv(path)
df.head(20)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8
5,1,Afghanistan,F,Employment,Employed for kind,... if she burns the food,01/01/2015,17.0
6,1,Afghanistan,F,Age,15-24,... if she burns the food,01/01/2015,17.3
7,1,Afghanistan,F,Employment,Unemployed,... if she burns the food,01/01/2015,18.0
8,1,Afghanistan,F,Residence,Rural,... if she burns the food,01/01/2015,18.1
9,1,Afghanistan,F,Age,25-34,... if she burns the food,01/01/2015,18.2
10,1,Afghanistan,F,Marital status,Married or living together,... if she burns the food,01/01/2015,18.3
11,1,Afghanistan,F,Residence,Urban,... if she burns the food,01/01/2015,18.3
12,1,Afghanistan,F,Age,35-49,... if she burns the food,01/01/2015,18.8
13,1,Afghanistan,F,Education,No education,... if she burns the food,01/01/2015,19.1
14,1,Afghanistan,F,Employment,Employed for cash,... if she burns the food,01/01/2015,20.8
15,1,Afghanistan,M,Marital status,Never married,... if she burns the food,01/01/2015,NaN
16,1,Afghanistan,M,Education,Higher,... if she burns the food,01/01/2015,4.5
17,1,Afghanistan,M,Residence,Urban,... if she burns the food,01/01/2015,4.6
18,1,Afghanistan,M,Employment,Unemployed,... if she burns the food,01/01/2015,5.2
19,1,Afghanistan,M,Education,Primary,... if she burns the food,01/01/2015,6.3

In [75]:
df['Residence'] = df['Demographics Response'].apply(lambda response: response if response in ['Rural', 'Urban'] else None)
df['Marital status'] = df['Demographics Response'].apply(lambda response: response if response in ['Never married', 'Widowed, divorced, separated'] else None)
df['Education'] = df['Demographics Response'].apply(lambda response: response if response in ['No education','Primary','Secondary','Higher'] else None)
df['Employment'] = df['Demographics Response'].apply(lambda response: response if response in ['Employed for kind', 'Unemployed','Employed for cash'] else None)
df['Age'] = df['Demographics Response'].apply(lambda response: response if response in ['15-24','25-34','35-49'] else None)

In [76]:
df

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value,Residence,Marital status,Education,Employment,Age
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN,None,Never married,None,None,None
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1,None,None,Higher,None,None
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7,None,None,Secondary,None,None
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8,None,None,Primary,None,None
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8,None,"Widowed, divorced, separated",None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12595,210,Zimbabwe,M,Residence,Urban,... if she goes out without telling him,01/01/2015,11.8,Urban,None,None,None,None
12596,280,Zimbabwe,M,Residence,Rural,... if she neglects the children,01/01/2015,20.1,Rural,None,None,None,None
12597,280,Zimbabwe,M,Residence,Urban,... if she neglects the children,01/01/2015,15.0,Urban,None,None,None,None
12598,350,Zimbabwe,M,Residence,Rural,... if she refuses to have sex with him,01/01/2015,7.2,Rural,None,None,None,None
12599,350,Zimbabwe,M,Residence,Urban,... if she refuses to have sex with him,01/01/2015,3.7,Urban,None,None,None,None

In [77]:

df = df.drop('Demographics Response', axis=1)
df = df.drop('Demographics Question', axis=1)

In [78]:
df.head(20)

,RecordID,Country,Gender,Question,Survey Year,Value,Residence,Marital status,Education,Employment,Age
0,1,Afghanistan,F,... if she burns the food,01/01/2015,NaN,None,Never married,None,None,None
1,1,Afghanistan,F,... if she burns the food,01/01/2015,10.1,None,None,Higher,None,None
2,1,Afghanistan,F,... if she burns the food,01/01/2015,13.7,None,None,Secondary,None,None
3,1,Afghanistan,F,... if she burns the food,01/01/2015,13.8,None,None,Primary,None,None
4,1,Afghanistan,F,... if she burns the food,01/01/2015,13.8,None,"Widowed, divorced, separated",None,None,None
5,1,Afghanistan,F,... if she burns the food,01/01/2015,17.0,None,None,None,Employed for kind,None
6,1,Afghanistan,F,... if she burns the food,01/01/2015,17.3,None,None,None,None,15-24
7,1,Afghanistan,F,... if she burns the food,01/01/2015,18.0,None,None,None,Unemployed,None
8,1,Afghanistan,F,... if she burns the food,01/01/2015,18.1,Rural,None,None,None,None
9,1,Afghanistan,F,... if she burns the food,01/01/2015,18.2,None,None,None,None,25-34
10,1,Afghanistan,F,... if she burns the food,01/01/2015,18.3,None,None,None,None,None
11,1,Afghanistan,F,... if she burns the food,01/01/2015,18.3,Urban,None,None,None,None
12,1,Afghanistan,F,... if she burns the food,01/01/2015,18.8,None,None,None,None,35-49
13,1,Afghanistan,F,... if she burns the food,01/01/2015,19.1,None,None,No education,None,None
14,1,Afghanistan,F,... if she burns the food,01/01/2015,20.8,None,None,None,Employed for cash,None
15,1,Afghanistan,M,... if she burns the food,01/01/2015,NaN,None,Never married,None,None,None
16,1,Afghanistan,M,... if she burns the food,01/01/2015,4.5,None,None,Higher,None,None
17,1,Afghanistan,M,... if she burns the food,01/01/2015,4.6,Urban,None,None,None,None
18,1,Afghanistan,M,... if she burns the food,01/01/2015,5.2,None,None,None,Unemployed,None
19,1,Afghanistan,M,... if she burns the food,01/01/2015,6.3,None,None,Primary,None,None

In [79]:
desired_order = ['RecordID','Gender','Country','Age','Education','Marital status','Employment','Residence','Survey Year','Question','Value']
df = df[desired_order]

In [80]:
df

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question,Value
0,1,F,Afghanistan,None,None,Never married,None,None,01/01/2015,... if she burns the food,NaN
1,1,F,Afghanistan,None,Higher,None,None,None,01/01/2015,... if she burns the food,10.1
2,1,F,Afghanistan,None,Secondary,None,None,None,01/01/2015,... if she burns the food,13.7
3,1,F,Afghanistan,None,Primary,None,None,None,01/01/2015,... if she burns the food,13.8
4,1,F,Afghanistan,None,None,"Widowed, divorced, separated",None,None,01/01/2015,... if she burns the food,13.8
...,...,...,...,...,...,...,...,...,...,...,...
12595,210,M,Zimbabwe,None,None,None,None,Urban,01/01/2015,... if she goes out without telling him,11.8
12596,280,M,Zimbabwe,None,None,None,None,Rural,01/01/2015,... if she neglects the children,20.1
12597,280,M,Zimbabwe,None,None,None,None,Urban,01/01/2015,... if she neglects the children,15.0
12598,350,M,Zimbabwe,None,None,None,None,Rural,01/01/2015,... if she refuses to have sex with him,7.2
12599,350,M,Zimbabwe,None,None,None,None,Urban,01/01/2015,... if she refuses to have sex with him,3.7

In [81]:
import pandas as pd
from itertools import product

def generate_combinations(group):

    unique_values = {col: group[col].unique() for col in group.columns[3:10]}
    combinations = list(product(*unique_values.values()))

    result = pd.DataFrame(combinations, columns=unique_values.keys())

    result[group.columns[:3]] = group[group.columns[:3]].iloc[0]

    return result

result_df = df.groupby(['Country']).apply(generate_combinations).reset_index(drop=True)


result_df = result_df.dropna()

result_df

C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]
C:\Users\ASUS I5\AppData\Local\Temp\ipykernel_22172\3801828469.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[group.columns[:3]] = group[group.columns[:3]].iloc[0]

,Age,Education,Marital status,Employment,Residence,Survey Year,Question,RecordID,Gender,Country
1320,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she burns the food,1,F,Afghanistan
1321,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... for at least one specific reason,1,F,Afghanistan
1322,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she argues with him,1,F,Afghanistan
1323,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she goes out without telling him,1,F,Afghanistan
1324,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she neglects the children,1,F,Afghanistan
...,...,...,...,...,...,...,...,...,...,...
301315,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she argues with him,420,F,Zimbabwe
301316,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she burns the food,420,F,Zimbabwe
301317,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she goes out without telling him,420,F,Zimbabwe
301318,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she neglects the children,420,F,Zimbabwe
301319,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she refuses to have sex with him,420,F,Zimbabwe

In [82]:
order_df = ['RecordID','Gender','Country','Age','Education','Marital status','Employment','Residence','Survey Year','Question']
result_df = result_df[order_df]

In [83]:
result_df

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
1320,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she burns the food
1321,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... for at least one specific reason
1322,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she argues with him
1323,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she goes out without telling him
1324,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,01/01/2015,... if she neglects the children
...,...,...,...,...,...,...,...,...,...,...
301315,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she argues with him
301316,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she burns the food
301317,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she goes out without telling him
301318,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she neglects the children
301319,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,01/01/2015,... if she refuses to have sex with him

In [84]:
result_df['Survey Year'] = pd.to_datetime(result_df['Survey Year'])

In [85]:
result_df['Survey Year'] = result_df['Survey Year'].dt.year

In [86]:
result_df

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
1320,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she burns the food
1321,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... for at least one specific reason
1322,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she argues with him
1323,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she goes out without telling him
1324,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she neglects the children
...,...,...,...,...,...,...,...,...,...,...
301315,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she argues with him
301316,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she burns the food
301317,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she goes out without telling him
301318,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she neglects the children
301319,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she refuses to have sex with him

In [87]:
result_df = result_df.reset_index(drop=True)
result_df

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
0,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she burns the food
1,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... for at least one specific reason
2,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she argues with him
3,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she goes out without telling him
4,1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she neglects the children
...,...,...,...,...,...,...,...,...,...,...
60475,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she argues with him
60476,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she burns the food
60477,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she goes out without telling him
60478,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she neglects the children
60479,420,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she refuses to have sex with him

In [88]:
albania_data = result_df[(result_df['Country'] == 'Albania') & (result_df['Employment'] == 'Employed for cash')]
albania_data

,RecordID,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
864,2,F,Albania,15-24,Higher,Never married,Employed for cash,Urban,2017,... if she burns the food
865,2,F,Albania,15-24,Higher,Never married,Employed for cash,Urban,2017,... for at least one specific reason
866,2,F,Albania,15-24,Higher,Never married,Employed for cash,Urban,2017,... if she argues with him
867,2,F,Albania,15-24,Higher,Never married,Employed for cash,Urban,2017,... if she goes out without telling him
868,2,F,Albania,15-24,Higher,Never married,Employed for cash,Urban,2017,... if she neglects the children
...,...,...,...,...,...,...,...,...,...,...
1699,2,F,Albania,35-49,No education,"Widowed, divorced, separated",Employed for cash,Rural,2017,... for at least one specific reason
1700,2,F,Albania,35-49,No education,"Widowed, divorced, separated",Employed for cash,Rural,2017,... if she argues with him
1701,2,F,Albania,35-49,No education,"Widowed, divorced, separated",Employed for cash,Rural,2017,... if she goes out without telling him
1702,2,F,Albania,35-49,No education,"Widowed, divorced, separated",Employed for cash,Rural,2017,... if she neglects the children
1703,2,F,Albania,35-49,No education,"Widowed, divorced, separated",Employed for cash,Rural,2017,... if she refuses to have sex with him

In [89]:
result_df.drop('RecordID', axis=1, inplace=True)
result_df

,Gender,Country,Age,Education,Marital status,Employment,Residence,Survey Year,Question
0,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she burns the food
1,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... for at least one specific reason
2,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she argues with him
3,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she goes out without telling him
4,F,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,2015,... if she neglects the children
...,...,...,...,...,...,...,...,...,...
60475,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she argues with him
60476,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she burns the food
60477,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she goes out without telling him
60478,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she neglects the children
60479,F,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,2015,... if she refuses to have sex with him

In [90]:
order_df = ['Country','Age','Education','Marital status','Employment','Residence','Question']
result_df = result_df[order_df]
result_df

,Country,Age,Education,Marital status,Employment,Residence,Question
0,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she burns the food
1,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... for at least one specific reason
2,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she argues with him
3,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she goes out without telling him
4,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she neglects the children
...,...,...,...,...,...,...,...
60475,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she argues with him
60476,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she burns the food
60477,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she goes out without telling him
60478,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she neglects the children
60479,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she refuses to have sex with him

In [91]:
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [92]:
result_df.Country.unique()

array(['Afghanistan', 'Albania', 'Angola', 'Armenia', 'Azerbaijan',
       'Bangladesh', 'Benin', 'Bolivia', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Chad', 'Colombia', 'Comoros', 'Congo',
       'Congo Democratic Republic', "Cote d'Ivoire", 'Dominican Republic',
       'Egypt', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'India', 'Indonesia', 'Jordan', 'Kenya', 'Kyrgyz Republic',
       'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Moldova', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Nicaragua', 'Niger', 'Nigeria', 'Pakistan', 'Peru', 'Philippines',
       'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone',
       'South Africa', 'Tajikistan', 'Tanzania', 'Timor-Leste', 'Togo',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [93]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [94]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, , association_rules

In [95]:
result_df

,Country,Age,Education,Marital status,Employment,Residence,Question
0,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she burns the food
1,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... for at least one specific reason
2,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she argues with him
3,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she goes out without telling him
4,Afghanistan,15-24,Higher,Never married,Employed for kind,Rural,... if she neglects the children
...,...,...,...,...,...,...,...
60475,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she argues with him
60476,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she burns the food
60477,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she goes out without telling him
60478,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she neglects the children
60479,Zimbabwe,35-49,Secondary,"Widowed, divorced, separated",Unemployed,Urban,... if she refuses to have sex with him

In [96]:
result_df = result_df.astype(str)
df = result_df

In [97]:
#Grouped by countries


def get_frequent_itemsets_by_country(df, country_name, min_support=0.01, min_length=3):
  country_transactions = df[df['Country'] == country_name].values.tolist()

  te = TransactionEncoder()
  te_ary = te.fit(country_transactions).transform(country_transactions)
  df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

  frequent_itemset = apriori(df_encoded, min_support=min_support,use_colnames=True)
  frequent_itemset = frequent_itemset.sort_values(by="support", ascending=False)
  frequent_itemset['length'] = frequent_itemset['itemsets'].apply(lambda x:len(x))

  result_df = frequent_itemset[(frequent_itemset['length'] >= min_length) & (frequent_itemset['support'] >= min_support)]

  rules = association_rules(frequent_itemset, metric = 'confidence', min_threshold=min_confidence)


  return result_df, rules

In [98]:
country_name = 'Albania'
result_for_country = get_frequent_itemsets_by_country(df, country_name)
result_for_country

       support                                           itemsets  length
956   0.250000     (Urban, Widowed, divorced, separated, Albania)       3
936   0.250000                    (Never married, Rural, Albania)       3
950   0.250000     (Widowed, divorced, separated, Rural, Albania)       3
939   0.250000                    (Urban, Never married, Albania)       3
914   0.166667        (Employed for cash, Never married, Albania)       3
...        ...                                                ...     ...
2442  0.010417  (Urban, ... if she refuses to have sex with hi...       5
2441  0.010417  (Rural, ... if she refuses to have sex with hi...       5
2440  0.010417  (Urban, ... if she refuses to have sex with hi...       5
2439  0.010417  (Rural, ... if she refuses to have sex with hi...       5
1367  0.010417  (Urban, Widowed, divorced, separated, Higher, ...       4

[2533 rows x 3 columns]

In [99]:
import pickle

In [100]:
with open('model_pkl', 'wb') as files:
    pickle.dump(model, files)

In [101]:
pickle.dump(model, open('model.pkl', 'wb'))

In [102]:
pickled_model = pickle.load(open('model.pkl', 'rb'))
pickled_model

RandomForestClassifier()

In [103]:
!git config --global user.email "yl.boudchicha@esi-sba.dz"
!git config --global user.name "Leyna911"
!git config --global user.password "Sunflower2001#"

In [104]:
!git init

Reinitialized existing Git repository in D:/Mini_Projet_ML/.git/

In [105]:
!git add .

warning: in the working copy of 'Mini_Projet.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of 'Models/Mini_Projet.ipynb', LF will be replaced by CRLF the next time Git touches it

In [106]:
!git commit -m "Apriori algorithm "

[master bec32cc] Apriori algorithm
 6 files changed, 6195 insertions(+), 2191 deletions(-)
 create mode 100644 Models/Mini_Projet.ipynb
 rename ViolenceAgainstWomen.py => app/ViolenceAgainstWomen.py (80%)
 rename app.py => app/app.py (100%)
 rename main.py => app/main.py (100%)
 create mode 100644 model.pkl

In [107]:
!git remote add origin https://github.com/Leyna911/Violence_against_Women_and_Girls_Mini_Projet.git

error: remote origin already exists.

In [108]:
!git push -u origin master

branch 'master' set up to track 'origin/master'.

To https://github.com/Leyna911/Violence_against_Women_and_Girls_Mini_Projet.git
   335c81c..bec32cc  master -> master